html { box-sizing: border-box } *, *::before, *::after { box-sizing: inherit }

html, body, .terminal { height: 320px; width: 480px; margin: 0; max-height: 320px; overflow: auto }

body { font: 100%/1.4 monospace; }

.terminal {
	border: 0;
	resize: none;
	outline: none;
	font-size: 1.2em;
	padding: 1.2em;
	word-break: break-all;
}

	.am { outline: 0 }
	.input::before {
		content: ': ';
		color: #999;
	}
	.output {
		color: #006ed9;
		white-space: pre-wrap;
	}
		.error { color: #d00 }
