html { box-sizing: border-box } *, *::before, *::after { box-sizing: inherit }

html, body, .terminal { height: 320px; width: 480px; margin: 0 }

body { font: 100%/1.4 monospace; }

.terminal {
	border: 0;
	resize: none;
	outline: none;
	font-size: 1.5em;
	padding: 1.5em;
}

	.line { outline: 0 }

